.center-both {
  display: flex;
  align-items: center;
  justify-content: center;
}
.wrapper {
  width: 100vw;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 10000;
  height: 100vh;
  background-color: #fafafa;
  display: flex;
  align-items: center;
  justify-content: center;
}
